@import "variables";

.table-default {
  min-width: 100%;
  color: $lgr1_d;
  font-size: 14px;
  line-height: 21px;
  border-spacing: 0;
  letter-spacing: 0;
  display: block;
  overflow-x: scroll;

  thead, tbody {
    display: grid;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px 12px;
    background-color: transparent;
    border-bottom: 1px solid $dgr5_d;
    &:nth-child(odd) {
      background-color: $dgr4_d;
    }
  }

  thead tr {
    background-color: transparent !important;
  }

  tbody tr {
    &:last-child {
      border-bottom: none;
      background-color: transparent;
      td {
        font-weight: 700;
      }
    }
  }

  td, th {
    margin-left: 24px;
    text-align: right;
    font-weight: 400;
    &:first-child {
      text-align: left;
      margin-left: 0;
    }
  }

  th {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
    &:first-child {
      justify-content: start;
    }
  }

  tfoot {
    display: none;
  }
}
