@import '../../../../../style/variables';

.ShowMoreText {
  display: block;
}

.BtnShowMore {
  display: inline-block;
  cursor: pointer;
  color: $lpu6_d;
  transition: color 0.3s;
  &:hover {
    color: $lpu8_d;
  }
}
