$dgr1_d: #171E28;
$dgr2_d: #1E242F;
$dgr3_d: #242B35;
$dgr4_d: #2D333D;
$dgr5_d: #3D444E;
$dgr6_d: #50555D;
$dgr7_d: #50555D;
$dgr8_d: rgba(124, 128, 134, 0.15);

$colorTitle: #fff;
$MainWhite: rgba(255, 255, 255, 0.9);

$lgr1_d: #B6B4C6;
$lpu5_d: #6f68c6;
$lpu6_d: #8F7FFF;
$lpu8_d: #C7BFFF;
$lpu10_d: rgba(143, 127, 255, 0.5);
