@import "variables";
@import "null";

body {
  color: $colorTitle;
  font-size: $fontsize;
  background-color: #000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
  &__item {
    margin: 40px 0;
    display: flex;
    justify-content: center;
  }
}

.page {
  flex: 1 1 auto;
}
