$fontfamily: "Open Sans";       //default font
$fontsize: 14px;                //default font
$minwidth: 320px;               //minimum width - iphone 5
$maxwidth: 1920;                //maximum layout canvas width
$maxWidthContainer: 1470;       //maximum content block width
$md1: $maxWidthContainer + 12;  //first breakpoint
$md2: 991.98;                   //second breakpoint
$md3: 767.98;                   //third breakpoint
$md4: 479.98;                   //fourth breakpoint
$colorTitle: #fff;
