$fontfamily: "Open Sans";       //default font
$fontsize: 14px;       //default font
$minwidth: 320px;               //minimum width - iphone 5
$maxwidth: 1920;                //maximum layout canvas width
$maxWidthContainer: 1470;       //maximum content block width
$md1: $maxWidthContainer + 12;  //first breakpoint
$md2: 991.98;                   //second breakpoint
$md3: 767.98;                   //third breakpoint
$md4: 479.98;                   //fourth breakpoint

$dgr1_d: #171E28;
$dgr2_d: #1E242F;
$dgr3_d: #242B35;
$dgr4_d: #2D333D;
$dgr5_d: #3D444E;
$dgr6_d: #50555D;
$dgr7_d: #50555D;
$dgr8_d: rgba(124, 128, 134, 0.15);
$colorTitle: #fff;
$MainWhite: rgba(255, 255, 255, 0.9);

$lgr1_d: #B6B4C6;
$lpu6_d: #8F7FFF;
$lpu8_d: #C7BFFF;
